@tailwind base;
@tailwind components;
@tailwind utilities;

/* //// TODO use tailwind */

body{
  background: rgb(0, 31, 31);
  font-family: sans-serif;
  color: #121a26;
}

::-webkit-scrollbar-thumb{
  background-image:linear-gradient(to right bottom, #0de446, #050f90);

}

::-webkit-scrollbar{
  width:8px;
  height: 0;

}